<div class="container_buscar_ativos"></div>
<h2 class="h2_buscar_ativos">Buscar de Ativos</h2>


<form class="form_buscar_ativos" id="buscar_ativos_form">
    <div class="caixa_buscar_ativos">
        <div class="linha1">
            <div class="linhas">
                
                <label for="tipo">Tipo:</label>
                <select class="status_buscar" name="tipo" id="tipo">
                <option value="">Option1</option>
                <option value="1">Option2</option>
                <option value="2">Option3</option>
                <option value="3">Option4</option>
            </select>
            </div>
            <div class="linhas">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required>
            </div>
            <div class="linhas">
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>
            </div>
        </div>
        <br>

        <div class="linha2">
            <div class="linhas">
        <label for="usuario_responsavel">Usuário Responsável:</label>
        <input type="text" id="usuario_responsavel" name="usuario_responsavel" required>
            </div>
            <div class="linhas">
        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" name="departamento" required>
            </div>
            <div class="linhas">
            <label for="status">Status:</label>
                <select class="status_buscar" name="status" id="status">
                <option value="1">Bom</option>
                <option value="2">Manutenção</option>
                <option value="3">Ruim</option>
            </select>
        </div>
        </div>
        <br>
        
    <div class="linha3">
        <div class="linhas">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        </div>
        <div class="linhas">
        <label for="data_entrada">Data de Entrada:</label>
        <input type="date" id="data_entrada" name="data_entrada" required>
        </div>
        <div class="linhas">
        <label for="data_saida">Data de Saída:</label>
        <input type="date" id="data_saida" name="data_saida" required>
        </div>
        </div>
        <br>
        <div class="botoes_cadastro">
            <input class="nome_botao_cadastro" type="submit" value="Pesquisar">
        </div>
        
        
    

        <!-- <a href="home.html">
            <button type="button">Entrar</button>
        </a> -->
    </div>
    </form>